@model IEnumerable<BoardGameNight.Models.Bordspellenavond>

<h1>Bordspellenavonden</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Adres</th>
        <th>Max Aantal Spelers</th>
        <th>Datum Tijd</th>
        <th>Is 18+</th>
        <th>Organisator</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Adres</td>
            <td>@item.MaxAantalSpelers</td>
            <td>@item.DatumTijd</td>
            <td>@(item.Is18Plus ? "Yes" : "No")</td>
            <td>@item.Organisator.UserName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create">Create New Bordspellenavond</a>